body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(145, 255, 0),rgb(28, 44, 189), rgb(255, 0, 0), rgb(255, 166, 2));
}

#sina{
    font-size: 50px;
}

#links{
    display: flex;
}

button{
      padding: 12px 24px;
      font-size: 16px;
      color: white;
      background-color: #007BFF;
      border: none;
      border-radius: 8px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      cursor: pointer;
      margin: auto;
      background: linear-gradient(to bottom, #007BFF, white);
}
button:hover{
      transform: scale(1.1);
      background-color: #0056b3;
}

a{
    color: white;
    text-decoration: none;
}